.App {
  text-align: center;
  max-width: 60%;
  margin: auto;
  padding: 4rem;
  
}
body{
  background-color:darkseagreen;
  margin-right: 0rem;
  
}

#line-small{
  font-style: bolder;
  color: rgb(1, 31, 31);
}

#movies-list{
  list-style-type:none;
  border: 1px solid #D1D5DB;
  width: 100%;
 
}

footer p {
  margin-top: 15%;
  font-size: large;
  text-align: center;
}

.footer-list {
  margin-top: 1rem;
}

a,
img,
li {
  display: inline;
}

.img-2 {
  width: 30px;
  padding: 0.1rem;
}

